body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body>.card-title {
  font-family: "Roboto", sans-serif;
}


.card {
  display: d-flex;
  flex-direction: column;

  margin-bottom: 1rem;
  border-radius: 2;
  box-shadow: 0 1rem 1rem rgba(0, 10, 10, 0.25);
  transition: all 0.2s ease-in-out;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h3 {
  color: rgb(224, 195, 28);
}

.card-img-overlay .card-title {
  color: rgb(255, 255, 255);
  background-color: gray;
  border: rgb(177, 161, 161);
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(rgb(2, 2, 2));
  background-color: "grey";
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 5px;
  background-image: linear-gradient(to right, black, black, navy);
  color: white;
}

.jumbotron h2 {
  color: rgb(241, 151, 241);
}

.navbar-dark {
  background-color: rgb(129, 11, 129);
}

.reduce-space {
  display: inline-block;
}



html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}